#container {
  width: 600px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #2c3e50;
}

h4 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7f8c8d;
}

p {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: #2c3e50;
}
