#container {
  width: 600px;
  margin: 40px auto;
  text-align: center;
}

#social {
  margin-top: 2em;
}

#social iframe {
  margin: 0 4px;
}

h1 {
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 4em;
  color: #2c3e50;
}

h4 {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7f8c8d;
}

p {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
  color: #2c3e50;
}

.button {
  display: inline-block;
  width: 180px;
  margin: 0.5em;
  padding: 12px 14px;
  background-color: #4fc08d;
  font-family: 'Source Code Pro', Monaco, courier, monospace;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #3aa373;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.button:hover {
  background-color: #5dc596;
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
